body {
  font-family: sans-serif;
}

th{
  background-color: rgb(138, 219, 207);
}

td,th{
  padding: 3px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even){
  background-color: #f5f5f5;
}

tr:hover {
  background-color:#656565;
}

table {
    border-collapse:collapse;
    width:100%;
}

#addForm {
    display: none;
}
